# Ignore everything by default
*

# But keep these files
!salus.py
!sandbox.py
!.gitignore
!README.md
!hacs.json
!custom_components/
!custom_components/salus/
!custom_components/salus/**

# Ignore test cache
.pytest_cache/
__pycache__/
